##
## gRain
##
import(methods)
importFrom(graph,nodes,edges)

exportClasses(ugsh,dagsh,graphsh,gmInstance)
exportMethods(edges,nodes,show)

export(
       "newugsh",
       "newdagsh",
       "newug",
       "newdag",
       "queryg",
### Simple graph operations
       "plot.ugsh",
       "plot.dagsh",
       "plot.cpt-gmInstance",
       "plot.dag-gmInstance",
       "plot.ug-gmInstance",
       "plot.compgmInstance",
       "predict.gmInstance",
       "neigh",
       "closure",
       "subgraph",
       "simplicialNodes",
       "isComplete",
       "updateugsh",
       "as.grash",
       "as.adjmat",
       "as.graphNEL",
### Advanced graph operations
       "jTree",
       "mcs",
       "moralize",
       "triangulate",
       "ripOrder",
       "print.ripOrder",       
       "mcwhSH"
       ,
### Table operations
       "ctab",
       "ptab",
       "as.ptab",
       "ctabmarg",
       "arraymarg",
       "arrayop",       
       "subarray",
       "ctabop",
       "print.ptab",
       "varNames.ptab",
       "nLevels.ptab",
       "valueLabels.ptab"
       ,
### Bayesian Networks
       "compilegm",
       "compilegm.dag-gmInstance",
       "compilegm.ug-gmInstance",
       "compilegm.cpt-gmInstance",
       "propagate",
       "propagate.compgmInstance", 
       "cpt",
       "enterEvidence",
       "retractEvidence",
       "evidence",
       "print.gmInstance",
       "print.bnevidence",
       "querygm",
       "querygm.gmInstance",       
       "pevidence",
       "propagate",
       "vpav",
       "dag2cptspec",
       "cpt",
       "summary.gmInstance",
       "as.gmInstance",
       "as.gmInstance.huginNet",
       "as.cumcounts",
       "as.cumcounts.data.frame",
       
       "cptspec",
       "loadHuginNet",
       "saveHuginNet",
       "printlist",
       "printlist.default",
       "printlist.list",
       "print.huginNet",
       "splitVec",
       "splitVec.default",
       "splitVec.list",
       "nodeNames",
       "nodeNames.gmInstance",
       "nodeStates",
       "nodeStates.gmInstance",
       "simulate.gmInstance",
       "getSlot",
       "print.cptspec",
       "newgmInstance",
       "newgmInstance.cptspec",
       "newgmInstance.dagsh",
       "newgmInstance.ugsh"
       )


