##
## gRain
##
import(methods)
#importFrom(graph,nodes,edges)

#exportClasses(ugsh,dagsh,graphsh,gmInstance)
#exportClasses(gmInstance)
#exportMethods(edges,nodes,show)

export(

       "cpt2",          ## FIXME: Dirty hack...
       ".propagate",    ## FIXME: Dirty hack...

### Simple graph operations
       "plot.cpt-grain",
       "plot.dag-grain",
       "plot.ug-grain",
       "plot.compgrain",
       "predict.grain",
       
### Bayesian Networks

       "compile",
       "compile.grain",
       "propagate",
       "propagate.compgrain", 
       "cptable",
       "setFinding",
       "getFinding",
       "pFinding",
       "retractFinding",

       "print.grain",
       "print.grainFinding",
       "querygm",
       "querygm.grain",       

       "propagate",
       "dag2cptspec",
       "summary.grain",
       "as.grain",
       "as.grain.huginNet",
       "as.cumcounts",
       "as.cumcounts.data.frame",
       
       "cptspec",

       "nodeNames",
       "nodeNames.grain",
       "nodeStates",
       "nodeStates.grain",
       "simulate.grain",
       "print.cptspec",
       "grain",
       "grain.cptspec",
       "grain.graphNEL",


       
       
### HUGIN related
       "loadHuginNet",
       "saveHuginNet",
       "printlist",
       "printlist.default",
       "printlist.list",
       "print.huginNet",
       "splitVec",
       "splitVec.default",
       "splitVec.list"
### !!!



       )


