
exportPattern("^[^\\.]")
import(methods)

import(gRbase)

importFrom(graph, edges, nodes, adj)
importMethodsFrom(graph, plot)

importFrom(igraph, igraph.from.graphNEL, V, "V<-", layout.graphopt)
